---
layout: layouts/about
title: About Me
description: About Ren Hale, indie web developer and digital craftsman
---

<p>I'm a software engineer and proud community member based out of Tulsa, Oklahoma. I love going to my local library, working out at the Y, and writing in my many notebooks. I'm passionate about civic engagement initiatives and have a long-standing obsession with Personal Knowledge Management. I aspire to surround myself with others who are committed to moving through the world as their authentic selves.</p>

