<header>
  <div class="site-branding">
    {% if page.url != "/" %}
    <a href="/" class="site-title">
      <img src="/assets/images/House of Ren.svg" alt="House of Ren" class="site-logo">
    </a>
    {% endif %}
  </div>
  <nav class="nav-container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/houseofren/articles/">Articles</a></li>
      <li><a href="/houseofren/notes/">Notes</a></li>
      <li><a href="/#Connect">Connect</a></li>
    </ul>
  </nav>
</header>

